# Build output
build/

# Makefiles
Makefile

# Visual Studio Code files
.vscode/launch.json
.vscode/settings.json

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user


# misc
imgui.ini